img {
   size: cover;
   opacity: 70%;
   position: 0 0; 
   padding: 0;
   margin: 0;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}

#structure > div {
    display: flex;
    text-decoration: none;
}

.nav-bar-ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0;
    border: 0;
}

.nav-bar {
    background-color: pink;
    padding: 0;
    border: 0;
    margin: 0;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: black;
    margin: 0px;
}

h4 {
    color: white;
    font-size: 40px;
    margin: 0px;
}

.about-me {
    color: white;
}

#logo {
    height: 350px;
    width: 340px;
    margin-top: 90px;
    margin-left: 250px;
}

#coffeemugs {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    color: white;
    text-align: center;
}

#homeStuff {
    display: flex;
    align-items: center;
}
