img {
   size: cover;
   opacity: 70%;
   position: 0 0; 
   padding: 0;
   margin: 0;
   border: 0;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}

#structure > div {
    display: flex;
    text-decoration: none;
}

.nav-bar-ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0;
    border: 0;
}

.nav-bar {
    background-color: pink;
    padding: 0;
    margin-bottom: 10px;
    margin-top: -5px;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: black;
    margin: 0px;
}

h4 {
    color: white;
    font-size: 40px;
    margin: 0px;
    align-self: flex-start;
}

.about-me {
    color: white;
}

#logo {
    height: 350px;
    width: 340px;
    margin-top: 110px;
}

#coffeemugs {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    color: white;
    text-align: center;
    width: 100%;
}

#homeStuff {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    flex-direction: row;
    justify-content: center;
}

@media (max-width:600px) {
    #homeStuff{
        flex-direction: column;
    }
}

#themkids {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

#contact {
    color: white;
    align-content: center;
}

h2 {
    color: white;
    text-align: center;
    padding-bottom: 600px;
}

#ironhack {
    height: 240px;
    width: 240px;
    opacity: 100;
}

#textish {
    color: white;
    display: block;
    align-items: center;
    width: 400px;
    padding-top: 0px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 30px;
}

.portfolio {
    color: white;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#classpage {
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .leftName {
    margin-right: 70px;
    text-align: left;
} */

#HP {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 400px;
    font-size: 20px;
    margin-top: 40px;
}

.button2 {
    display: flex;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    cursor: pointer;
    justify-content: center;
    background: none;
    margin: auto;
    align-items: center;
    margin-top: 40px;
    }

.button2:hover {
    color:#DDDDDD;
    border-color:#DDDDDD;
    }

.button2:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    }

@media all and (max-width:30em){
.button2{
    display:block;
    margin:0.4em auto;
}
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: navy;
    color: white;
}

.fa-instagram {
    background: fuchsia;
    color: white;
}

form {
    padding-left: 20px;
    padding-bottom: 20px;
}
